.root {
	-fx-background-color: #1a75ff;
}

.button {
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: #FFFFFF;
	-fx-text-fill: #1a75ff;
	-fx-background-color: #FFFFFF;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
}

.button:hover {
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: #FFFFFF;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #1a75ff;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
}

#title {
	-fx-fill: #FFFFFF;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-align: center;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 6, 0.0 , 0 , 2 );
}

#console {
	-fx-fill: #000000;
	-fx-background-color: #FFFFFF;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: #000000;
}
